@model RpgBuilderMvc.Application.ViewModels.CharacterEditViewModel

<div class="layout-content-container flex flex-col max-w-[1024px] mx-auto gap-8">
    <div id="tab-equipamento">
        <div class="p-6 rounded-xl border border-slate-200 dark:border-[#48232c] bg-white dark:bg-transparent">
            <!-- título, PO, peso, cards de itens, textarea EquipmentNotes -->
        </div>
    </div>
</div>