@model RpgBuilderMvc.Application.ViewModels.CharacterEditViewModel

<div id="tab-historia" class="mt-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- História -->
        <!-- Traços de personalidade -->
        <!-- Ideais -->
    </div>
</div>